.all-box{
  border:solid;
  background-color: #00b0e4 !important;
  color:white;
  padding:5px 15px 5px 15px;
  border-radius: 6px;
}
.trash-box{
    border:solid;
    background-color: #fb483a !important;
    color:white;
    padding:5px 15px 5px 15px;
    border-radius: 6px;
}

.serch-input{
 padding:4px;
 border-radius: 4px;   
}
.creat-top-all{
   display: flex;
   justify-content: space-between; 
}

.am{
  width:150px;
  font-size:15px;
  font-weight: 500;
}

.filter-card{
  display: flex;
  align-items: center;
  margin-top:15px;
}

.but{
  height: 33px;
  text-align: center;
  margin-bottom: 17px;
  font-size: 14px;
  border-radius: 2px;
}

