.service-title{
          font-size: 37px;
          font-weight: bold;
          color: #173b6c;
          padding-bottom: 10px;
          padding-top:40px;
}
.service-para{
          font-family: Roboto;  
          font-size:19px;
}
.service-icon {
float: left;
    font-size:39px;
    color: #149ddd;
   
}
.service-head {
          margin-left: 50px;
          font-weight: 700;
          margin-bottom: 15px;
          font-size: 18px;
}
.description {
          margin-left: 50px;
          line-height: 24px;
          font-size: 14px;
      }