.about-container {
 height: 100vh;
 margin-top: 30px;
 font-family:  sans-serif;

 padding-right: 20px;
}

.about-title {          
font-size: 35px;
font-weight: bold;
color: #173b6c;
padding-bottom: 20px;
}
.about-title-para {
  font-size: 17px;
}

.about-img {
margin-right: 25px;
height: 50vh;

}
.about-profile-title{
          font-weight: 700;
          font-size: 26px;
          color: #173b6c;
}
.about-para-title {
 font-style: italic;

}
.as {
display: flex;
justify-content: space-around;
}
.details-card{
 color:black;
 list-style-type: none;
}

.about-span {
  color:black;
  padding-left: 8px;
}
.details-container{
 display: flex;
 
}
.about-icon{
  font-size: 16px;
  margin-right: 8px;
  color: #149ddd;
}

li {
 margin-top: 20px;
}
.about-title-para{
  margin-top:30px;
  font-family: Roboto;
  font-size:19px;
}
.facts-title{
   font-size: 35px;
  font-weight: bold;
  color: #173b6c;
  padding-bottom: 20px;
  margin-top: 40px;
}
.facts-title-para{
font-family: Roboto;  
font-size:19px;
}
.fact-icon{
 font-size: 45px;
 color: #149ddd;
 margin-top:7px;
}
.fact{
  display: flex;
  
}
.a-strong {
 font-weight: 980;
 padding:20px;
 font-size:35px;
}
.skills-catainer{
 display: flex;
 justify-content: space-between;
 margin:40px;
}